[contactform]

[viewBag]
==
<div class="row">logo slider</div>
<footer id="footer">
    <div class="footer-top">
      <div class="container">
         <section id="contact">
           <div class="container wow fadeInUp">
             <div class="row justify-content-center">

               <div class="col-lg-3 col-md-4">

                 <div class="info">
                   <div>
                     <i class="fa fa-map-marker"></i>
                     <p>{{ home_data.com_addr }}</p>
                   </div>

                   <div>
                     <i class="fa fa-envelope"></i>
                     <p>{{ home_data.com_gmail_link }}</p>
                   </div>

                   <div>
                     <i class="fa fa-phone"></i>
                     <p><a href="tel:{{ home_data.com_phone }}">{{ home_data.com_phone }}</a></p>
                   </div>

                   <div>
                     <i class="fa fa-phone"></i>
                     <p><a href="tel:{{ home_data.com_mob }}">{{ home_data.com_mob }}</a></p>
                   </div>
                 </div>

                 <div class="social-links">
                   <a href="{{ home_data.com_twitter_link }}" class="twitter"><i class="fa fa-twitter" target="_blank"></i></a>
                   <a href="{{home_data.com_fb_link}}" class="facebook"><i class="fa fa-facebook" target="_blank"></i></a>
                   <!-- <a href="#" class="instagram"><i class="fa fa-instagram"></i></a> -->
                   <a href="{{ home_data.com_gmail_link }}" class="google-plus"><i class="fa fa-google-plus" target="_blank"></i></a>
                   <a href="{{ home_data.com_linkin_link }}" class="linkedin"><i class="fa fa-linkedin" target="_blank"></i></a>
                 </div>

               </div>

               <div class="col-lg-5 col-md-8">
                 <div class="contact-us">
                   {% component 'contactform' %}
                 </div>
               </div>

             </div>

           </div>
         </section><!-- #contact -->
      </div>
    </div>
  </footer><!-- #footer -->