title = "Blogs"
url = "/blogs"
layout = "static-layout"
description = "blog page"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "apply-job"
postPage = "blog"
==
{% set posts = blogPosts.posts %}

{% if posts %}
    {% for myblog in posts %}
        <div class="row blog_div">
           <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-4">
                            <img src="{{ myblog.featured_images[0].path }}" width="100%" class="img img-thumbnail">
                    </div><!--displaying image div-->

                    <div class="col-sm-8"><!--content div-->
                        <div class="col-sm-12">
                            <a href="{{ myblog.url }}"><h2>{{ myblog.title }}</h2></a><hr>
                        </div><!--heading column-->
                        <div class="col-sm-12">
                                <p class="excerpt">{{ myblog.summary|raw }}</p>
                        </div><!--excerpt display column-->
                        <div class="col-sm-12 text-right">
                            <i class="fa fa-tags" aria-hidden="true"></i>&nbsp;{{ myblog.category_id }}&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<time>{{ myblog.created_at|date('d F, Y') }}</time>
                        </div><!--date display column-->
                    </div><!--displaying content div-->
                </div>
           </div>
           
        </div>
    {% endfor %}
{% endif %}